_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.Rproj.user
.Rhistory
*.Rproj
jekyll-now-r-template.Rproj
README.html

_knitr/*.html
_knitr/*.md
knitr_files/*
_knitr/figures
*_cache
*_files
